page-return-mode {
    .legend-warning {
        text-align: justify;
        font-size: 1.2rem;
        border-bottom: 3px solid #f9a825;
        padding: 5px;
        background-color: #ffffa8;
    }

    small {
        padding: 10px;
    }
}
